* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  background-color: #00453e;
  color: white;
}

/* amazon-navbar------------------------------------- */
.amazon-navbar {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-1 {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 40px;
  width: 90px;
  margin-left: 10px;
}

#menu {
  display: none;
}
label i {
  font-size: 25px;
}

.amazon-navbar-details {
  display: none;
}

.toggel-details {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/* box-2 */
.add-first {
  color: #cccccc;
  font-size: 0.8rem;
}

.add-second {
  font-size: 1rem;
}

.add-icon {
  display: flex;
}

.nav-address {
  margin: 5px;
}

/* box-3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid transparent;
  margin: 5px;
}

.nav-search:hover {
  border: 2px solid #fc68aa;
}

.search-select {
  background-color: #f3f3f3;
  width: 40px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 0.7rem;
  border: none;
}

.search-icon {
  background-color: #ffcabd;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* box-4 & 5 */
.nav-signin {
  margin: 5px;
}

.nav-return {
  margin: 5px;
}

span {
  font-size: 0.8rem;
}

.nav-second {
  font-size: 1rem;
  font-weight: 700;
}

/* box-6 */
.nav-cart i {
  font-size: 25px;
}

.nav-cart {
  font-size: 1rem;
  font-weight: 700;
  margin: 5px;
}

/* panel -----------------------------------------*/
.panel {
  background-color: #195851;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  white-space: nowrap;
}

.panel p {
  display: inline-block;
  margin: 5px 20px;
}

/* hero-section------------------------------------- */
.hero-section {
  background: url("hero_image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  margin-bottom: 5px;
  font-size: 0.6rem;
}

.hero-msg a {
  color: #007185;
  text-decoration: none;
}

/* shop-section ------------------------------------------*/
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #e2e7e6;
}

.box {
  height: 120px;
  width: 20%;
  background-color: white;
  padding: 10px 5px 5px;
  margin-top: 5px;
  overflow: hidden;
}

.box-img {
  height: 50px;
  background-size: cover;
  margin: 0.5rem 0;
}

.box p {
  color: #007185;
  font-size: 0.8rem;
}

/* footer */
.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.foot-panel2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #222f3d;
  color: white;
  height: 100%;
}

ul {
  margin-top: 30px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}

.foot-panel3 {
  background-color: #222f3d;
  border-top: 0.5px solid #aca7a7;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.foot-panel4 {
  background-color: #0f1419;
  color: white;
  height: 100%;
  font-size: 0.7rem;
  text-align: center;
  padding: 5px;
}

.pages {
  padding-top: 20px;
}

.copyright {
  padding-top: 5px;
}
